<ion-view view-title="Home">
  <ion-content>
    <br>
    <h1 align="center">Welcome to Amino!</h1>


    <div class="card">
      <div align="justify" class="item item-text-wrap">
        Amino is a biochemistry app that allows you to perform DNA sequence comparisons and also sequence amino acids. An amino acid reference guide is provided below. 
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Alanine (Ala)</p>
        <img class="full-image" src="img/1.png">
        <p>
          Molecular Mass - 89.094<br>
          Side-chain charge (pH 7.4) - neutral<br>
          Side-chain polarity - nonpolar<br>
          Hydropathy index - 1.8
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Arginine (Argla)</p>
        <img class="full-image" src="img/2.png">
        <p>
          Molecular Mass - 174.203<br>
          Side-chain charge (pH 7.4) - positive<br>
          Side-chain polarity - basic polar<br>
          Hydropathy index - −4.5
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Asparagine (Asn)</p>
        <img class="full-image" src="img/3.png">
        <p>
          Molecular Mass - 132.119<br>
          Side-chain charge (pH 7.4) - neutral<br>
          Side-chain polarity - polar<br>
          Hydropathy index - −3.5
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Aspartic acid (Asp)</p>
        <img class="full-image" src="img/4.png">
        <p>
          Molecular Mass - 133.104<br>
          Side-chain charge (pH 7.4) - negative<br>
          Side-chain polarity - acidic polar<br>
          Hydropathy index - −3.5
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Cysteine (Cys)</p>
        <img class="full-image" src="img/5.png">
        <p>
          Molecular Mass - 121.154<br>
          Side-chain charge (pH 7.4) - neutral<br>
          Side-chain polarity - nonpolar<br>
          Hydropathy index - 2.5
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Glutamic acid (Glu)</p>
        <img class="full-image" src="img/6.png">
        <p>
          Molecular Mass - 147.131<br>
          Side-chain charge (pH 7.4) - negative<br>
          Side-chain polarity - acidic polar  <br>
          Hydropathy index - −3.5
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Glutamine (Gln)</p>
        <img class="full-image" src="img/7.png">
        <p>
          Molecular Mass - 146.146<br>
          Side-chain charge (pH 7.4) - neutral<br>
          Side-chain polarity - polar<br>
          Hydropathy index - −3.5
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Glycine (Gly)</p>
        <img class="full-image" src="img/8.png">
        <p>
          Molecular Mass - 75.067<br>
          Side-chain charge (pH 7.4) - neutral<br>
          Side-chain polarity - nonpolar<br>
          Hydropathy index - −0.4
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Histidine (His)</p>
        <img class="full-image" src="img/9.png">
        <p>
          Molecular Mass - 155.156<br>
          Side-chain charge (pH 7.4) - positive(10%), neutral(90%)<br>
          Side-chain polarity - basic polar<br>
          Hydropathy index - −3.2
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Isoleucine (Ile)</p>
        <img class="full-image" src="img/10.png">
        <p>
          Molecular Mass - 131.175<br>
          Side-chain charge (pH 7.4) - neutral<br>
          Side-chain polarity - nonpolar<br>
          Hydropathy index - 4.5
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Leucine (Leu)</p>
        <img class="full-image" src="img/11.png">
        <p>
          Molecular Mass - 131.175<br>
          Side-chain charge (pH 7.4) - neutral<br>
          Side-chain polarity - nonpolar<br>
          Hydropathy index - 3.8
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Lysine (Lys)</p>
        <img class="full-image" src="img/12.png">
        <p>
          Molecular Mass - 146.189<br>
          Side-chain charge (pH 7.4) - positive<br>
          Side-chain polarity - basic polar<br>
          Hydropathy index - −3.9
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Methionine (Met)</p>
        <img class="full-image" src="img/13.png">
        <p>
          Molecular Mass - 149.208<br>
          Side-chain charge (pH 7.4) - neutral <br>
          Side-chain polarity - nonpolar<br>
          Hydropathy index - 1.9
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Phenylalanine (Phe)</p>
        <img class="full-image" src="img/14.png">
        <p>
          Molecular Mass - 165.192<br>
          Side-chain charge (pH 7.4) - neutral<br>
          Side-chain polarity - nonpolar<br>
          Hydropathy index - 2.8
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Proline (Pro)</p>
        <img class="full-image" src="img/15.png">
        <p>
          Molecular Mass - 115.132<br>
          Side-chain charge (pH 7.4) - neutral<br>
          Side-chain polarity - nonpolar<br>
          Hydropathy index - −1.6
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Serine (Ser)</p>
        <img class="full-image" src="img/16.png">
        <p>
          Molecular Mass - 105.093<br>
          Side-chain charge (pH 7.4) - neutral<br>
          Side-chain polarity - polar<br>
          Hydropathy index - −0.8
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Threonine (Thr)</p>
        <img class="full-image" src="img/17.png">
        <p>
          Molecular Mass - 119.12<br>
          Side-chain charge (pH 7.4) - neutral<br>
          Side-chain polarity - polar<br>
          Hydropathy index - −0.7
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Tryptophan (Trp)</p>
        <img class="full-image" src="img/18.png">
        <p>
          Molecular Mass - 204.228<br>
          Side-chain charge (pH 7.4) - neutral<br>
          Side-chain polarity - nonpolar<br>
          Hydropathy index - −0.9
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Tyrosine (Tyr)</p>
        <img class="full-image" src="img/19.png">
        <p>
          Molecular Mass - 181.191<br>
          Side-chain charge (pH 7.4) - neutral<br>
          Side-chain polarity - polar<br>
          Hydropathy index - −1.3
        </p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <p>Valine (Val)</p>
        <img class="full-image" src="img/20.png">
        <p>
          Molecular Mass - 117.148<br>
          Side-chain charge (pH 7.4) - neutral<br>
          Side-chain polarity - nonpolar<br>
          Hydropathy index - 4.2
        </p>
      </div>
    </div>

    <div class="card">
      <div align="justify" class="item item-text-wrap">
        Created by Andrew Sealy | 2016
      </div>

    </div>

  </ion-content>
</ion-view>
