<ion-tabs class="tabs-icon-top tabs-color-active-balanced">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="DNA Comparison" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" href="#/tab/comparison">
    <ion-nav-view name="tab-comparison"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="AA Sequencing" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/sequencing">
    <ion-nav-view name="tab-sequencing"></ion-nav-view>
  </ion-tab>


</ion-tabs>
